{% extends "bootstrap/base.html" %} 

{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='iii.jpg')}}">
<link rel="icon" href="{{url_for('static',filename='iii.jpg')}}">
<style>
    ddbody{
        background-color: rgb(228, 228, 228);
    }
    p{
        text-indent: 2em;
        text-align: justify;
    }
</style>
{% endblock %}

{% block title %}
{{super()}}
ZenglingJun
{% endblock %}


{% block scripts %}
{{super()}}
{{moment.include_moment()}}
{{moment.lang('zh-CN')}}
{% endblock %}


{% block navbar %}
{{super()}}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                {% for element in g.frontPageList.keys() %}
                <li><a href="{{g.frontPageList[element]}}">{{element}}</a></li>
                {% endfor %}
            </ul>
            <div style="color:aliceblue;float: right;height: 100%;margin-top: 20px">服务器时间：{{moment(g.current_time).format("LLL")}}</div>
        </div>
    </div>
</div>
{% endblock %}
