{% extends "bootstrap/base.html" %} 

{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='iii.jpg')}}">
<link rel="icon" href="{{url_for('static',filename='iii.jpg')}}">
{% endblock %}

{% block title %}
{{super()}}
ZenglingJun
{% endblock %}


{% block scripts %}
{{super()}}
{{moment.include_moment()}}
{{moment.lang('zh-CN')}}
{% endblock%}


{% block navbar %}
{{super()}}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/upload">Upload</a>
                </li>
            </ul>
            <div style="color:aliceblue;float: right;height: 100%;margin-top: 20px">服务器时间：{{moment(g.current_time).format("LLL")}}</div>
        </div>
        
    </div>
</div>
{% endblock %}
