{% extends "base.html" %} {% block title %}{{super()}}-Upload {% endblock %} 

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}
<script>
     function html5Reader(file,img){
     var file1 = file.files[0];
     var reader = new FileReader();
     reader.onload = function(e){
         img.src=reader.result;
     };
     reader.readAsDataURL(file1);
     }
window.addEventListener("load",function(){
    alert("加载完成");
    
    document.getElementById("file").addEventListener("change",function(){html5Reader(this,document.getElementById("img"));});

    });
</script>
<div class="container">
    <form action="" enctype='multipart/form-data' method='POST' class="form-inline">
        <div class="form-group form-control">
            <input type="file" name="file"  id="file">
        </div>
        <input type="submit" value="上传" class="btn btn-default"> {{result}}
    </form>
    <img id="img" width="800" height="600" src="">
</div>
{% endblock %}